@import "https://raw.githubusercontent.com/arcy-at/arcy-at.github.io/main/assets/bootstrap/css/bootstrap.css";
/* Universal Selector Objects */
* {
  margin: 2px !important;
  padding: 5px !important;
  transition: all 0.3s ease-in-out !important;
}
/* use this to see object boundaries */
/* *:hover {
  background-color: #7c7c7c5f;
} */
/* Defined Element Objects */
p {
  font-size: large;
  float: left;
  padding: 20px !important;
}
/* Custom Classes */
.center-text {
  text-align: center;
}
.custom-button {
  margin: 0px;
}
